.hero{
    padding-top: 70px;
    position: relative;
}
.hero > a{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 3;
    color: #fff;
    font-size: 40px;
    display: block;
    width: 50px;
    height: 50px;
}
.hero .swiper{
    position: relative;
    height: calc(100dvh - 70px);
    /* padding-top: 90px; */
}
.hero .part{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    backdrop-filter: blur(20px);
    height: calc((100dvh - 70px));
    background-image: url("../../../public/imgs/hero-bg.jpg");
    background-image: url("../../../public/imgs/hero-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.hero .part .logo{
    /* opacity: 0; */
    /* transform: translateY(-20px); */
    /* transition: var(--animation-transition); */
}
.hero.loaded .part .logo{
    /* opacity: 1; */
    /* transform: translateY(0px); */
}
.hero .part::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    backdrop-filter: blur(30px);
    height: 100%;
    z-index: -1;
}
.hero .part.one::before{
    background-color: var(--main-semi-color);
}
.hero .part.two::before{
    background-color: var(--logo-semi-color);
}
.hero .part.two p{
    color: #000 !important;
}
.hero .part .logo{
    width: 260px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .part h1{
    font-size: 60px;
    color: var(--logo-color);
    margin-bottom: 10px;
    /* text-shadow: 1px 1px #000; */
    transition: var(--animation-transition);
    transition-duration: 0.4s;
    transform: translateY(20px);
    opacity: 0;
}
.hero .part.two h1{
    color: var(--main-color);
}
.hero.loaded .part h1{
    transform: translateY(0px);
    opacity: 1;
}
.hero .part p{
    color: #fff;
    /* width: 50%; */
    line-height: 1.4;
    /* letter-spacing: 1px; */
    font-size: 18px;
    /* margin-bottom: 20px; */
    transition: var(--animation-transition);
    transition-delay: 0.2s;
    transform: translateX(-50px);
    opacity: 0;
    filter: blur(20px);
}
.hero.loaded .part p{
    transform: translateX(0px);
    opacity: 1;
    filter: blur(0px);
}
.hero .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    z-index: 3;

}
.hero .btns a{
    border: 1px solid var(--sec-color);
    padding: 4px 20px;
    background-color: var(--logo-color);
    text-decoration: none;
    font-size: 16px;
    color: #000;
    transition: var(--main-transition);
    box-shadow: var(--main-shadow);
    text-wrap: nowrap;
}
.hero .btns a:first-child{
}
.hero .btns a:last-child{
    background-color: var(--sec-color);
    color: #fff;
}
.hero .btns a:hover{
    background-color: var(--main-color);
    color: #fff;
    border-color: var(--main-color);
}
@media (max-width: 1200px) {
    .hero{
        text-align: center;
    }  
    .hero .part p{
        width: 100%;
    }
    .hero a{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width: 600px) {
    .hero{
        flex-direction: column;
    }
    .hero .part{
        /* width: 100%; */
        /* height: calc((100dvh - 90px) / 2); */
        /* padding: 40px 20px; */
    }
    .hero .part .logo{
        width: 200px ;
        
    }
    .hero .part h1{
        font-size: 40px;
        /* margin-bottom: 20px; */
        margin-top: 10px;
        
    }
    .hero .part p{
        /* font-size: 14px; */
        line-height: 1.6;
    }
    .hero > a{
        background-color: var(--sec-color);
        border-radius: 50%;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero .btns{
        bottom: 100px;
    }
}
.hero .swiper button{
    /* position: absolute; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    font-size: 26px;
    width: 60px;
    height: 60px;
    /* border-radius: 50%; */
    background-color: var(--sec-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .swiper button:first-of-type{
    left: 20px;
}
.hero .swiper button:last-of-type{
    right: 20px;
}
.hero .heroPagination{
    position: absolute;
    /* top: 85px; */
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.hero .heroPagination span{
    background-color: var(--logo-color);
}
@media (max-width: 992px) {
    .hero .swiper .part p{
        font-size: 20px;
    }
}
@media (max-width: 767px) {
    .hero .img{
        overflow: hidden;
    }
    .hero .img img{
    }
    .hero .swiper .img img{
        object-fit: contain;
        transform: scaleX(1.5) scaleY(1.5);
        /* height: auto; */
    }
    .hero .swiper .first .img{
        padding-left: 50px;
        padding-right: 50px;
    }
    .hero .swiper .first .img img{
        transform: scaleX(1) scaleY(1);
        /* padding-right: 40px;
        padding-left: 40px; */
    }
    .hero .img::before{
        /* transform: scaleX(25) scaleY(2 5); */
        z-index: 12;
    }
    .hero .swiper button{
        font-size: 20px;
        width: 40px;
        height: 40px;
    }
    .hero .swiper button:first-of-type{
        left: 10px;
    }
    .hero .swiper button:last-of-type{
        right: 10px;
    }
}