.hero{
    min-height: 100dvh;
    padding-top: 90px;
    z-index: 8;
    background-image: url("../../../public/imgs/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}
.hero.ar{
    direction: rtl;
    font-family: "Tajawal", sans-serif;
}
.hero.loaded::after{
    opacity: 1;
    /* transform: translateY(-50%) rotateZ(30deg); */
}
.hero.ar::after{
    left: unset;
    right: -50%;
}
.hero .part{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    backdrop-filter: blur(20px);
}
.hero .part .logo{
    opacity: 0;
    transform: translateY(-20px);
    transition: var(--animation-transition);
}
.hero.loaded .part .logo{
    opacity: 1;
    transform: translateY(0px);
}
.hero .part:first-child{
    background-color: var(--main-color);
    background-color: var(--main-semi-color);
}
.hero .part:last-child{
    background-color: var(--logo-color);
    background-color: var(--logo-semi-color);
}
.hero .part:last-child p{
    color: #000 !important;
}
.hero .part .logo{
    width: 260px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero h1{
    font-size: 60px;
    color: var(--logo-color);
    margin-bottom: 10px;
    text-shadow: 2px 2px #000;
    transition: var(--animation-transition);
    transition-duration: 0.4s;
    transform: translateY(20px);
    opacity: 0;
}
.hero .part:last-child h1{
    color: var(--main-color);
}
.hero.loaded h1{
    transform: translateY(0px);
    opacity: 1;
}
.hero p{
    color: #fff;
    /* width: 50%; */
    line-height: 1.4;
    /* letter-spacing: 1px; */
    font-size: 18px;
    /* margin-bottom: 20px; */
    transition: var(--animation-transition);
    transition-delay: 0.2s;
    transform: translateX(-50px);
    opacity: 0;
    filter: blur(20px);
}
.hero.loaded p{
    transform: translateX(0px);
    opacity: 1;
    filter: blur(0px);
}
.hero a{
    width: fit-content;
    
    transition: var(--animation-transition);
    transition-duration: 0.4s;
    /* transition-delay: 0.2s; */
    transform: translateY(20px);
    opacity: 0;
}
.hero.loaded a{
    transform: translateY(0px);
    opacity: 1;
}
@media (max-width: 1200px) {
    .hero{
        text-align: center;
    }  
    .hero p{
        width: 100%;
    }
    .hero a{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width: 600px) {
    .hero{
        flex-direction: column;
    }
    .hero .part{
        width: 100%;
        height: calc((100dvh - 90px) / 2);
        padding: 40px 20px;
    }
    .hero .part .logo{
        width: 150px;
    }
    .hero h1{
        font-size: 30px;
        /* margin-bottom: 20px; */
        margin-top: 10px;
        
    }
    .hero p{
        /* font-size: 14px; */
        line-height: 1.6;
    }
}