
.logo{
    width: 100%;
    /* height: 70px; */
    /* height: fit-content; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo.ar{
    font-family: "Tajawal", sans-serif;
    direction: rtl;
}
.logo img{
    height: fit-content;
    object-fit: contain;
}