.langSwitch{
    display: flex;
    align-items: center;
    font-size: 12px;
    /* border-radius: 50%; */
    /* box-shadow: var(--main-shadow); */
    direction: ltr !important;
    background-color: transparent;
}
.langSwitch span{
    padding: 3px 10px;
    color: var(--text-color);
    /* background-color: var(--bg-color); */
    /* display: none; */
    background-color: white;
    box-shadow: var(--main-shadow);
    width: 40px;
}
.langSwitch span:first-child{
    /* border-radius: 6px 0px 0px 6px; */
}
.langSwitch span:last-child{
    /* border-radius: 0px 6px 6px 0px; */
}
.langSwitch span.active{
    background-color: var(--main-color);
    box-shadow: var(--sec-mini-shadow), var(--main-shadow);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    /* box-shadow: none; */
    border-radius: 50%;
    z-index: 2;
}