
.servicesCards{
    background-color: var(--bg-color);
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-image: url("../../../public/imgs/hero-bg.svg"); */
    position: relative;
    isolation: isolate;
}
.servicesCards.ar{
    direction: rtl;
    /* font-family: "Afacad Flux", sans-serif; */
}
.servicesCards .cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
@media (max-width: 992px) {
    .servicesCards .cards{

    }
}
@media (max-width: 767px) {
    .servicesCards .cards{
    }
}