.productCards{
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    row-gap: 30px;
    column-gap: 20px;
}
@media (max-width: 1200px) {
    .productCards{
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    }
}
@media (max-width: 992px) {
    .productCards{
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }
}
@media (max-width: 767px) {
    .productCards{
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }
}
@media (max-width: 550px) {
    .productCards{
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}
.productCards > div{
    /* width: 250px; */
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: var(--main-transition);
    /* border-radius: 10px; */
}
.productCards > div .cardImg{
    transition: var(--main-transition);
    /* width: 250px; */
    box-shadow: var(--main-shadow), var(--sec-shadow);
    aspect-ratio: 1/1;
    /* border-radius: 6px; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15); */
    border: 1px solid #aaaaaa;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}
.productCards > div .cardImg img{
    transition: var(--main-transition);
    height: 250px;
    object-fit: contain;
}
.productCards > div:hover .cardImg img{
    transform: scale(1.1);
}
.productCards > div p{
    width: 100%;
    text-align: center;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    box-shadow: var(--main-shadow), var(--sec-shadow);
    border-radius: 10px;
    direction: rtl !important;
    font-family: "Tajawal", sans-serif;
    /* border-radius: 0px 0px 6px 6px; */
    /* box-shadow: var(--sec-shadow); */
}

@media (max-width: 550px) {
    .productCards > div{
        margin-right: auto;
        margin-left: auto;
        /* display: flex; */
        /* align-items: center; */
        gap: 10px;
        /* width: 100%; */
    }
    .productCards > div.odd{
        /* background-color: #ffeeff; */
    }
    .productCards > div .cardImg{
        background-color: var(--bg-color);
    }
    .productCards > div .cardImg img{
        object-fit: contain;
    }
    .productCards > div p{
        text-align: center;
        align-content: center;
    }
}